{% extends "::base.html.twig" %}

{% block title %}ExperimentRecipeFinderBundle:Recipe:getRecipe{% endblock %}

{% block body %}
<h1>Recipe Finder</h1>

<p>{{ message }}</p>

{{ form(form) }}

{% if recommendedRecipe %}
<p>Recommended Recipe&hellip;</p>
<p><strong>{{ recommendedRecipe }}</strong></p>
{% endif %}

{% endblock %}
